<div class="card mb-4">
  <div class="card-header bg-success text-white">Add product</div>
  <div class="card-body">
    <form (ngSubmit)="addProduct()" #addForm="ngForm">
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Description</span>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="description"
            minlength="5"
            maxlength="60"
            required
            [(ngModel)]="newProduct.description"
            #descModel="ngModel"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          @if(descModel.errors?.['required']) {
          <div class="invalid-feedback">Description cannot be empty</div>
          } @if(descModel.errors?.['minlength']) {
          <div class="invalid-feedback">
            You must enter at least
            {{descModel.errors?.['minlength'].requiredLength - descModel.errors?.['minlength'].actualLength}}
            characters more
          </div>
          }
        </div>
      </label>
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Price</span>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            name="price"
            required
            min="0.01"
            step="0.01"
            [(ngModel)]="newProduct.price"
            #priceModel="ngModel"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          @if(priceModel.errors?.['required']) {
          <div class="invalid-feedback">Price cannot be empty</div>
          } @if(priceModel.errors?.['min']) {
          <div class="invalid-feedback">Minimum price must be 0,01€</div>
          }
        </div>
      </label>
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Available</span>
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            name="available"
            required
            minDate="2025-02-15"
            [(ngModel)]="newProduct.available"
            #availModel="ngModel"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          @if(availModel.errors?.['required']) {
            <div class="invalid-feedback">Date cannot be empty</div>
            } @if(availModel.errors?.['minDate']) {
            <div class="invalid-feedback">Minimum date must be 2025-02-15</div>
            }
        </div>
      </label>
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end"> Image</span>
        <div class="col-sm-10">
          <input
            type="file"
            class="form-control"
            accept="image/*"
            name="fileName"
            required
            ngModel
            encodeBase64
            (encoded)="newProduct.imageUrl = $event"
            #imageModel="ngModel"
            [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
          />
          <div class="invalid-feedback">Image cannot be empty</div>
        </div>
      </label>
      @if (newProduct.imageUrl) {
      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
          <img class="product-img" [src]="newProduct.imageUrl" alt="" />
        </div>
      </div>
      }

      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="addForm.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
