<form #formModel="ngForm">
  <div class="mb-3" ngModelGroup="daysGroup" #daysModel="ngModelGroup" oneChecked>
    @for(day of days; track $index; let i = $index) {
      <div class="form-check form-check-inline">
        <!-- Inputs must have DIFFERENT names -->
        <input type="checkbox" class="form-check-input" name="days{{i}}" [(ngModel)]="daysOpen[i]" id="checkDay{{i}}">
        <label class="form-check-label" for="checkDay{{i}}">{{day}}</label>
      </div>
    }
    @if(daysModel.invalid) {
      <div class="text-danger">You must select at least one input</div>
    }
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit" [disabled]="formModel.invalid">Enviar</button>
  </div>

  <label class="mb-3 row">
    <span class="col-sm-2 col-form-label text-sm-end">Email</span>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        name="email"
        required
        email
        [(ngModel)]="email"
        #emailModel="ngModel"
        [class]="{
          'is-valid': emailModel.touched && emailModel.valid,
          'is-invalid': emailModel.touched && emailModel.invalid,
        }"      />
      <div class="invalid-feedback">
        El email es obligatorio y debe tener un formato correcto
      </div>
    </div>
  </label>
  <label class="mb-3 row">
    <span class="col-sm-2 col-form-label text-sm-end">Repite email</span>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        name="email2"
        ngModel
        #emailRepeatModel="ngModel"
        [sameValue]="email()"
        [class]="{
          'is-valid': emailRepeatModel.touched && emailRepeatModel.valid,
          'is-invalid': emailRepeatModel.touched && emailRepeatModel.invalid,
        }"
      />
      <div class="invalid-feedback">Los correos no coinciden</div>
    </div>
  </label>
</form>

<!-- <p>{{daysModel.value | json}}</p> -->
<p>{{formModel.value | json}}</p>
